{% for year, year_group in items|groupby('year') %}
{% for month, month_group in year_group|groupby('month_no') %}


[{{ month }}/{{ year }}]

{% for day in month_group %}
{% for period in day.periods %}
{% if loop.index == 1 %}{{day.day_no}}. {% else %}    {% endif %}{{period.range_str}} => {{period.minutes}} min
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}


