====================
{{msg.title}}
====================

{% for week, weekdays in items|groupby('week') %}
{{week.year}} {{msg.cw}}{{week.week_no}}:
{% for d in weekdays %}
  {{(d.day_name + ', ' + d.day_no + '.' + d.month_no + '.' + d.year_no).ljust(14)}}{{(d.hours|round(1)|string).rjust(5)}}  {{d.description}}
{% endfor %}
{{msg.total.ljust(16)}}{{ (weekdays|sum(attribute='hours')|round(1)|string).rjust(5) }}

{% endfor %}
====================
{{msg.total_hrs.ljust(15)}}{{(total_hours|round(1)|string).rjust(5)}}
{{msg.total_days.ljust(15)}}{{(total_days|round(1)|string).rjust(5)}}
